{% extends 'base.html' %}

{% block title %}
    Details
{% endblock %}

{% block scripts %}
    {{ super() }}
    {#    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>#}
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("myBtn").style.display = "block";
            } else {
                document.getElementById("myBtn").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }
    </script>

{% endblock %}

{% block styles %}
    {{ super() }}
    <style>
        #myBtn {
            display: none; /* Hidden by default */
            position: fixed; /* Fixed/sticky position */
            bottom: 20px; /* Place the button at the bottom of the page */
            right: 30px; /* Place the button 30px from the right */
            z-index: 99; /* Make sure it does not overlap */
            border: none; /* Remove borders */
            outline: none; /* Remove outline */
            background-color: red; /* Set a background color */
            color: white; /* Text color */
            cursor: pointer; /* Add a mouse pointer on hover */
            padding: 15px; /* Some padding */
            border-radius: 10px; /* Rounded corners */
            font-size: 18px; /* Increase font size */
        }

        #myBtn:hover {
            background-color: #555; /* Add a dark-grey background on hover */
        }
    </style>
{% endblock %}


{% block content %}
    {#    {{ super() }}#}
    <div class="bg"></div>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <div class="container">
        <div class="row" style="background-image: url(/static/img/star-bg.svg);">
            <div class="row">

                <div class="col-md-2 ">
                    <p class="lead text-success text-center">
                    <div id="rank"
                         style="align-items: center;background-image:url('../static/img/ganlan.png');background-size: 10em 10em;background-repeat: no-repeat space;background-position-x: center ">

                        {#                    <img class="img-responsive" src="../static/img/ganlan.png" style="width:20%;height:15%; ">#}
                        <div style="text-align: center;  font-size: 6em;">

                            {{ rank + 1 }}
                        </div>
                        <div style="text-align: center; font-size: 1em;">
                            rank
                        </div>
                    </div>
                    </p>
                </div>
                <div class="col-md-8">
                    {#                <br>#}
                    {#                <br>#}
                    {#                <br>#}
                    <h2 class=" font-weight-bold text-left ml-4 col-10"><a style="color: #1A0DAB"
                                                                           href="{{ url }}">{{ title }}</a></h2>
                    {#                <div class="page-header">#}
                    {#                    <h2>#}
                    {#                        {{ title }}#}
                    {#                    </h2>#}
                    {#                </div>#}
                    <div class="col-xl-12 col-md-12 col-12">

                        <h5 class="font-weight-bold ml-4 mb-3"><i class="fas fa-align-left pr-2"></i>Abstract</h5>
                        <div class="row">
                            <div class="col-1 "></div>
                            <div class="col-8 ">
                                <p class="">{{ abstract }}.</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-12 col-md-12 col-12">
                        <h5 class="font-weight-bold ml-4 mb-3"><i class="fas fa-user pr-2"></i>Authors</h5>
                        <div class="row">
                            <div class="col-1 "></div>
                            <div class="col-8 ">
                                <p class="">{{ authors }}.</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-12 col-md-12 col-12">
                        <h5 class="font-weight-bold ml-4 mb-3"><i class="fas fa-book pr-2"></i>Sourcce</h5>
                        <div class="row">
                            <div class="col-1 "></div>
                            <div class="col-8 ">
                                <p class="">{{ published_in }}.</p>
                            </div>

                        </div>
                    </div>


                    <!--Accordion wrapper-->
                    <div class="accordion" id="accor" role="tablist" aria-multiselectable="true">

                        <!-- Accordion card -->
                        <div class="card">

                            <!-- Card header -->
                            <div class="card-header" role="tab" id="headingOne">
                                <a data-toggle="collapse" href="#collapseOne" aria-expanded="true"
                                   aria-controls="collapseOne">
                                    <p class="mb-0"><span
                                            class="badge badge-primary mr-md-1">{{ citations | length }}</span>
                                        Cited<i class="fas fa-angle-down rotate-icon"></i>
                                    </p>
                                </a>
                            </div>

                            <!-- Card body -->
                            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne"
                                 data-parent="#accor">
                                <div class="card-body">
                                    {% for r in citations %}
                                        <div class="card" role="tab">
                                            <a href="{{ r[1] }}">{{ r[0] }}</a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>
                        <!-- Accordion card -->

                        <!-- Accordion card -->
                        <div class="card z-depth-5">

                            <!-- Card header -->
                            <div class="card-header" role="tab" id="headingTwo">
                                <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false"
                                   aria-controls="collapseTwo">
                                    <p class="mb-0">
                                        <span class="badge badge-primary mr-md-1">{{ references | length }}</span>
                                        Reference<i class="fas fa-angle-down rotate-icon"></i>
                                    </p>
                                </a>
                            </div>

                            <!-- Card body -->
                            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo"
                                 data-parent="#accor">
                                <div class="card-body">

                                    {% for r in references %}
                                        <div class="card" role="tab">
                                            <a href="{{ r[1] }}">{{ r[0] }}</a>
                                        </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                        <!-- Accordion card -->


                    </div>
                    <!--/.Accordion wrapper-->


                </div>
            </div>

        </div>
    </div>
    </div>


    </div>
    </div>


{% endblock %}