{% extends 'base.html' %}

{% block title %}
    Details
{% endblock %}

{% block content %}
    {#    {{ super() }}#}

    <div class="row" style="background-image: url(/static/img/star-bg.svg);">
        <div class="row">

            <div class="col-md-2 " >
                <p class="lead text-success text-center">
                <div id="rank"
                     style="align-items: center;background-image:url('../static/img/ganlan.png');background-size: 10em 10em;background-repeat: no-repeat space;background-position-x: center ">

                    {#                    <img class="img-responsive" src="../static/img/ganlan.png" style="width:20%;height:15%; ">#}
                    <div style="text-align: center;  font-size: 6em;">

                        {{ rank+1 }}
                    </div>
                    <div style="text-align: center; font-size: 1em;">
                        rank
                    </div>
                </div>
                </p>
            </div>
            <div class="col-md-8">
                <br>
                <br>
                <br>
                <h2 class="h1-responsive font-weight-bold text-center col-10"><a style=""
                                                                                 href="{{ url }}">{{ title }}</a></h2>
                {#                <div class="page-header">#}
                {#                    <h2>#}
                {#                        {{ title }}#}
                {#                    </h2>#}
                {#                </div>#}
                <div class="col-xl-12 col-md-12 col-12">

                    <h5 class="font-weight-bold mb-3"><i class="fas fa-align-left pr-2"></i>Abstract</h5>
                    <div class="row">
                        <div class="col-1 "></div>
                        <div class="col-8 ">
                            <p class="">{{ abstract }}.</p>
                        </div>

                    </div>
                </div>
                <div class="col-xl-12 col-md-12 col-12">
                    <h5 class="font-weight-bold mb-3"><i class="fas fa-user pr-2"></i>Authors</h5>
                    <div class="row">
                        <div class="col-1 "></div>
                        <div class="col-8 ">
                            <p class="">{{ authors }}.</p>
                        </div>

                    </div>
                </div>
                <div class="col-xl-12 col-md-12 col-12">
                    <h5 class="font-weight-bold mb-3"><i class="fas fa-book pr-2"></i>Sourcce</h5>
                    <div class="row">
                        <div class="col-1 "></div>
                        <div class="col-8 ">
                            <p class="">{{ published_in }}.</p>
                        </div>

                    </div>
                </div>


                <!--Accordion wrapper-->
                <div class="accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

                    <!-- Accordion card -->
                    <div class="card">

                        <!-- Card header -->
                        <div class="card-header" role="tab" id="headingOne">
                            <a data-toggle="collapse" href="#collapseOne" aria-expanded="true"
                               aria-controls="collapseOne">
                                <h5 class="mb-0">
                                    Cited<i class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                        </div>

                        <!-- Card body -->
                        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne"
                             data-parent="#accordionEx">
                            <div class="card-body">
                                hh1
                            </div>
                        </div>
                    </div>
                    <!-- Accordion card -->

                    <!-- Accordion card -->
                    <div class="card">

                        <!-- Card header -->
                        <div class="card-header" role="tab" id="headingTwo">
                            <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false"
                               aria-controls="collapseTwo">
                                <h5 class="mb-0">
                                    Reference<i class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                        </div>

                        <!-- Card body -->
                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo"
                             data-parent="#accordionEx">
                            <div class="card-body">
                                hhh2
                            </div>
                        </div>
                    </div>
                    <!-- Accordion card -->


                </div>
                <!--/.Accordion wrapper-->
                <div class="panel-group" id="panel-865365">


                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-865365"
                               href="#panel-element-001"><span
                                    class="badge">{{ refs | length }}</span>References</a>
                        </div>
                        <div id="panel-element-001" class="panel-collapse in">
                            <div class="panel-body">


                                <div class="panel-group" id="accordion" role="tablist"
                                     aria-multiselectable="true">

                                    {% for c in refs %}

                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="{{ 'head'+ c[0] }}">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse"
                                                       data-parent="#accordion" href="#{{ c[0] }}"
                                                       aria-expanded="false" aria-controls="{{ c[0] }}">
                                                        {{ c[0] }}
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="{{ c[0] }}" class="panel-collapse collapse" role="tabpanel"
                                                 aria-labelledby="{{ 'head'+c[0] }}">
                                                <div class="panel-body">

                                                    <a class="btn" href=" {{ c[1] }} ">View details »</a>
                                                </div>
                                            </div>
                                        </div>

                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-865365"
                               href="#panel-element-657219"><span
                                    class="badge">{{ citations | length }}</span>Cited</a>
                        </div>
                        <div id="panel-element-657219" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="panel-group" id="accordion" role="tablist"
                                     aria-multiselectable="true">

                                    {% for r in citations %}

                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="{{ 'head'+ r[0] }}">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse"
                                                       data-parent="#accordion" href="#{{ r[0] }}"
                                                       aria-expanded="false" aria-controls="{{ r[0] }}">
                                                        {{ r[0] }}
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="{{ r[0] }}" class="panel-collapse collapse" role="tabpanel"
                                                 aria-labelledby="{{ 'head'+r[0] }}">
                                                <div class="panel-body">

                                                    <a class="btn" href=" {{ r[1] }} ">View details »</a>
                                                </div>
                                            </div>
                                        </div>

                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


    </div>
    </div>


{% endblock %}