<!DOCTYPE html>
<html>
<head>
    <title>Details</title>

    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->
    <style type="text/css">
        #input {
            border-radius: 40px;
            width: 40%;
            height: 30px;
            font-size: 100%;

        }

        #search {
            border-radius: 40px;
            height: 30px;
            font-size: 100%;
        }

        p,
        label {
            font: 1rem 'Fira Sans', sans-serif;
        }

        input {
            margin: .4rem;
        }
    </style>

</head>

<body>
<div>
    <div id="layer4" style="position: absolute; overflow: hidden;top:0%;left:0;height: 10%;
	  	width: 100%;z-index: 0;background-color:  #CCCCCC;text-align: center">
        <br>
        <form action="http://localhost:5000/search" method="post">
            <input type="text" name="keyword" id="input" class="gray" value="{{ name }}"
                   onfocus="if(this.value==defaultValue){this.value='';this.className='black'}"
                   onblur="if(!value){this.value=defaultValue;this.className='gray'}"/>
            <input type="submit" value="Search" style="width:10%; background-color: white" id="search">

    </div>
    <div id="layer5" style="position: absolute; overflow: hidden;top:10%;left:0;height: 10%;
	  	width: 100%;z-index: 0;background-color:  #CCCCCC;text-align: center">

        <strong>Ranking by:</strong> &nbsp &nbsp &nbsp &nbsp
        <label for="Citation">Citation</label>
        <input type="range" id="ranking" name="ranking"
               min="0" max="100" value={{ ranking }} step="1">
        <label for="Publish Venue">Publish Venue</label>
        </form>
    </div>
    <div id="container"
         style="top:20%;left:20%;height: 80%;width: 60%; position: absolute;">
        <div id="title"
             style="margin-top: 5%;float: left;width: 70%;font-weight: bold;font-family: 'Segoe UI Light','sans-serif'; font-size: 30.0pt; color: #2A2A2A; padding-bottom: 34px">
            {{ title }}
        </div>
        <div id="rank"
             style="float: left;align-items: center;width: 30%">
            <div style="text-align: center;  font-size: 5em;">
                {{ rank }}
            </div>
            <div style="text-align: center; font-size: 1.5em;">
                rank
            </div>
        </div>
        <div id="authors"
             style=" width:max-content;font-size: 15pt;">
            <strong>Authors:&nbsp</strong>{{ authors }}
        </div>
        <hr style=" height:2px;border:none;border-top:2px solid #185598;"/>
        <div id="abstract"
             style="font-family: 'Segoe UI Light','sans-serif';">
            <div id="abstract_title"
                 style="font-weight: bold;font-size: 20pt">
                Abstract:
            </div>
            <div id="abstract_content"
                 style="font-size: 20pt">
                {{ abstract }}
            </div>
            <br>
            <div id="publish"
                 style="font-family: 'Segoe UI Light','sans-serif';font-size: 20pt">
                <strong>Published in:&nbsp</strong>{{ published_in }}
            </div>
            <div id="url"
                 style="font-family: 'Segoe UI Light','sans-serif';font-size: 20pt">
                <strong>URL:&nbsp</strong><a href="{{ url }}">{{ url }}</a>
            </div>
        </div>
        <hr style=" height:2px;border:none;border-top:2px solid #185598;"/>
        <div id="citations"
             style="width: 40%; float: left;font-family: 'Segoe UI Light','sans-serif';font-size: 15pt">
            <strong>Citations:&nbsp</strong>
            {% if citations %}
                <table width="40%" border="1px" frame="void" rules="group">
                    <tbody>
                    <tr>
                        <td height="10px" colspan="3"></td>
                    </tr>
                    {% for c in citations %}
                        <tr style="height: 20px;vertical-align: text-top;font-family: 'Segoe UI Light','sans-serif';
font-size: 11pt">{% c %}</tr>
                    {% endfor %}
                    </tbody>

                </table>
            {% else %}
                0
            {% endif %}
        </div>
    <div id="refrences"
             style="width: 40%; float: right;font-family: 'Segoe UI Light','sans-serif';font-size: 15pt">
            <strong>Refrences:&nbsp</strong>
            {% if references %}
                <table width="40%" border="1px" frame="void" rules="group">
                    <tbody>
                    <tr>
                        <td height="10px" colspan="3"></td>
                    </tr>
                    {% for r in references %}
                        <tr style="height: 20px;vertical-align: text-top;font-family: 'Segoe UI Light','sans-serif';
font-size: 11pt">{% r %}</tr>
                    {% endfor %}
                    </tbody>

                </table>
            {% else %}
                0
            {% endif %}
        </div>
    </div>
</body>
</html>