{% extends 'base.html' %}

{% block title %}
    Paper Ranking
{% endblock %}

{% block scripts %}
{{ super() }}
    <script>
    $( "body" ).prepend( '<div id="toTop"><div class="btn"> </div></div>' );
    $(document).ready(function(){
      $('body').append('<div id="toTop" ><span class="glyphicon glyphicon-chevron-up"></span> Back to Top</div>');
    	$(window).scroll(function () {
			if ($(this).scrollTop() != 0) {
				$('#toTop').fadeIn();
			} else {
				$('#toTop').fadeOut();
			}
		});
    $('#toTop').click(function(){
        $("html, body").animate({ scrollTop: 0 }, 600);
        return false;
    });
});
    </script>

{% endblock %}






{% block content %}
    <div class="container" style="background-image: url(/static/img/lightbg.jpg)">
        <div class="jumbotron" style="background: none">
            <div class="container">

                <h2 class="display-4"> Welcome</h2>

            </div>
        </div>

        <div class="container" align="center">
            <div class="row">
                <div class="col-md">
                    <img src="../static/js/boy.png" style="
                            {#width:50%;height:50%; #}
                            ">
                </div>
                <div class="col-md">


                    <div class="form-group">

                        <form class="form-inline ml-auto" action="/search" method="get">
                            <div class="form-group md-form">
                                <br>

                                <input type="text" name="keyword" id="input" class=" form-control "
                                       style="" placeholder="Scholar search"
                                       onfocus="if(this.value==defaultValue){this.value='';}"
                                       onblur="if(!value){this.value=defaultValue;}"/>


                                <button type="submit" class="btn btn-amber "><i class="fa fa-search"
                                                                                style=" "></i></button>

                            </div>
                            <br>
                            <br>
                            <br>




                            <div id="sliderBar" style="text-align: left">
                                <strong>Ranking by:</strong>
                                <!-- <div> -->
                                <input type="range" id="ranking" name="ranking"
                                       class="custom-range"
                                       min="0" max="100" value="50" step="1">
                                <label style="float: left" for="Citation">Citation</label>
                                <label style="float: right" for="Publish Venue">Publish Venue</label>
                            </div>

                            </p>
                        </form>
                    </div>
                </div>
                <div class="col-md"></div>
            </div>
        </div>
    </div>

{% endblock %}