{% extends 'base.html' %}

{% block title %}
    Details
{% endblock %}

{% block content %}
    {#    {{ super() }}#}

    <div class="container ">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="col-md-4 column" style="">
                    <p class="lead text-success text-center">
                    <div id="rank"
                         style="align-items: center;background-image:url('../static/img/ganlan.png');background-size: 10em 10em;background-repeat: no-repeat space;background-position-x: center ">

                        {#                    <img class="img-responsive" src="../static/img/ganlan.png" style="width:20%;height:15%; ">#}
                        <div style="text-align: center;  font-size: 6em;">

                            {{ rank }}
                        </div>
                        <div style="text-align: center; font-size: 1em;">
                            rank
                        </div>
                    </div>
                    </p>
                </div>
                <div class="col-md-6 column">
                    <div class="page-header">
                        <h1>
                            {{ title }}
                        </h1>
                    </div>
                    <h2>
                        Abstract
                    </h2>
                    <p>
                        {{ abstract }}
                    </p>
                    <dl class="dl">
                        <dt>
                            Authors
                        </dt>
                        <dd>
                            {{ authors }}.
                        </dd>
                        <dt>
                            Published in
                        </dt>
                        <dd>
                            {{ public_in }}
                        </dd>

                        <dt>
                            Link
                        </dt>
                        <dd>
                            <a href="{{ url }}">{{ url }}</a>
                        </dd>

                    </dl>


                    <div class="panel-group" id="panel-865365">


                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-865365"
                                   href="#panel-element-001"><span
                                        class="badge">{{ references | length }}</span>References</a>
                            </div>
                            <div id="panel-element-001" class="panel-collapse in">
                                <div class="panel-body">


                                    <div class="panel-group" id="accordion" role="tablist"
                                         aria-multiselectable="true">

                                        {% for c in references %}

                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="{{ 'head'+ c.title }}">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse"
                                                           data-parent="#accordion" href="#{{ c.title }}"
                                                           aria-expanded="false" aria-controls="{{ c.title }}">
                                                            {{ c.title }}
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="{{ c.title }}" class="panel-collapse collapse" role="tabpanel"
                                                     aria-labelledby="{{ 'head'+c.title }}">
                                                    <div class="panel-body">
                                                        {{ c.abstract[:100] + "..." }}
                                                        <a class="btn" href=" getAddress(r) ">View details »</a>
                                                    </div>
                                                </div>
                                            </div>

                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-865365"
                                   href="#panel-element-657219"><span
                                        class="badge">{{ citations | length }}</span>Cited</a>
                            </div>
                            <div id="panel-element-657219" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="panel-group" id="accordion" role="tablist"
                                         aria-multiselectable="true">

                                        {% for r in citations %}

                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="{{ 'head'+ r.title }}">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse"
                                                           data-parent="#accordion" href="#{{ r.title }}"
                                                           aria-expanded="false" aria-controls="{{ r.title }}">
                                                            {{ r.title }}
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="{{ r.title }}" class="panel-collapse collapse" role="tabpanel"
                                                     aria-labelledby="{{ 'head'+r.title }}">
                                                    <div class="panel-body">
                                                        {{ r.abstract[:100] + "..." }}
                                                        <a class="btn" href=" getAddress(r) ">View details »</a>
                                                    </div>
                                                </div>
                                            </div>

                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-2 column">
    </div>

{% endblock %}