{% extends 'base.html' %}

{% block content %}
    <div id="container"
         style="top:20%;left:20%;height: 80%;width: 60%; position: absolute;">
        <div id="title"
             style="margin-top: 5%;float: left;width: 70%;font-weight: bold;font-family: 'Segoe UI Light','sans-serif'; font-size: 30.0pt; color: #2A2A2A; padding-bottom: 34px">
            {{ title }}
        </div>
        <div id="rank"
             style="float: left;align-items: center;width: 30%">
            <div style="text-align: center;  font-size: 5em;">
                {{ rank }}
            </div>
            <div style="text-align: center; font-size: 1.5em;">
                rank
            </div>
        </div>
        <div id="authors"
             style=" width:max-content;font-size: 15pt;">
            <strong>Authors:&nbsp</strong>{{ authors }}
        </div>
        <hr style=" height:2px;border:none;border-top:2px solid #185598;"/>
        <div id="abstract"
             style="font-family: 'Segoe UI Light','sans-serif';">
            <div id="abstract_title"
                 style="font-weight: bold;font-size: 20pt">
                Abstract:
            </div>
            <div id="abstract_content"
                 style="font-size: 20pt">
                {{ abstract }}
            </div>
            <br>
            <div id="publish"
                 style="font-family: 'Segoe UI Light','sans-serif';font-size: 20pt">
                <strong>Published in:&nbsp</strong>{{ published_in }}
            </div>
            <div id="url"
                 style="font-family: 'Segoe UI Light','sans-serif';font-size: 20pt">
                <strong>URL:&nbsp</strong><a href="{{ url }}">{{ url }}</a>
            </div>
        </div>
        <hr style=" height:2px;border:none;border-top:2px solid #185598;"/>
        <div id="citations"
             style="width: 40%; float: left;font-family: 'Segoe UI Light','sans-serif';font-size: 15pt">
            <script src="http://how2j.cn/study/js/jquery/2.0.0/jquery.min.js"></script>
            <link href="http://how2j.cn/study/css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet">
            <script src="http://how2j.cn/study/js/bootstrap/3.3.6/bootstrap.min.js"></script>
            <strong><span class="badge">{{ citations | length }}</span>Citations:&nbsp</strong>
            {% if citations %}
                <table width="45%">
                    <tbody>
                    <tr>
                        <td height="10px" colspan="3"></td>
                    </tr>
                    {% for c in citations %}
                        <tr style="height: 20px;vertical-align: text-top;font-family: 'Segoe UI Light','sans-serif';font-size: 11pt">
                            <td class="Regular">{{ c.title }}</td>
                            <td class="Secondary">{{ c.authors }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            {% else %}
                0
            {% endif %}
        </div>
        <div id="refrences"
             style="width: 40%; float: right;font-family: 'Segoe UI Light','sans-serif';font-size: 15pt">
            <script src="http://how2j.cn/study/js/jquery/2.0.0/jquery.min.js"></script>
            <link href="http://how2j.cn/study/css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet">
            <script src="http://how2j.cn/study/js/bootstrap/3.3.6/bootstrap.min.js"></script>
            <strong><span class="badge">{{ references | length }}</span>References:</strong>
            {% if references %}
                <table width="45%">
                    <tbody>
                    <tr>
                        <td height="10px" colspan="3"></td>
                    </tr>
                    {% for r in references %}
                        <tr>
                            <td class="Regular">{{ r.title }}</td>
                            <td class="Secondary">{{ r.authors }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            {% else %}
                0
            {% endif %}
        </div>
    </div>
{% endblock %}


